.explaw{
	position: relative;
}
.explaw2{
	position: relative;
}
[id^="expla"] {
    width: 120px;
	overflow: visible;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 50%;
    margin-left: -60px;
}
[id^="expla"]::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}